:root{
  --green:#4cb57dff;
  --black:#333333;
  --white:#fdfdfd;
  --gray:#e2e2e2;
  
}

body{
  background-color:var(--white);
  font-family:sans-serif;
  color:var(--black);
  padding:0;
  margin:0;
}

.header{
  background-color:var(--green);
  color:var(--white);
  margin-bottom:15px;
  text-align:center;
  padding:15px 5px;
  font-weight:bold;
  font-size:20px;
}

/* Sidebar */
.sidebar{
  background-color:var(--gray);
  position:fixed;
  width:10%;
  left:1%;
  overflow:auto;
}
.sidebar .logo{
  position:relative;
  width:100%;
}
.sidebar a{
  margin-top:15px;
  font-weight:bold;
  display:block;
}

.sidebar .smallLogo{
  width:50%;
}

.sidebar .row{
  display: flex;
}
.sidebar .column{
  text-align: center;
  flex: 50%;
  padding: 5px;
  
  
}






/* Content */
.content{
  position:relative;
  width:75%;
  left:15%;
  
}
hr{
  border:solid 1px var(--gray);
  margin:100px 0;
}

h2{
  color:var(--green);
  font-weight: bold;
  font-size:350%;
  text-align: center;
  transform: translateX(-3%);
  
}
h1{
  color:var(--green);
  font-weight:bold;
  font-size: 250%;
}

.generateButton {
  
  background-color:var(--green);
  transform: translateX(50%);
  border-radius:25px;
  text-align:center;
  
  font-size:30px;
  padding:15px;
  width:50%;
  border: white;
  color: white;
  font-weight: bold;
  text-decoration: none;
  
  margin: 4px 2px;
  cursor: pointer;
}
a{
  text-decoration:none;
  color:var(--green);
}
a:hover{
  text-decoration:underline;
  cursor:pointer;
}

p{
  font-size:125%
}

.contentImage{
  
  text-align: center;
}

.wordWrap{
  word-wrap: break-word;
}

.footer{
  background-color:var(--black);
  color:var(--white);
  text-align:center;
  margin-top:100px;
  font-weight:bold;
  font-size:20px;
  padding:5px 0;
}


