:root{
  --dark-green:#368058;
  --text-gray:#bababa;
  --green:#4cb57d;
  --black:#333333;
  --white:#fdfdfd;
  --gray:#e2e2e2;

}

body{
  background-color:var(--white);
  font-family:sans-serif;
  color:var(--black);
  padding:0;
  margin:0;
}

.header{
  background-color:var(--green);
  margin-bottom:15px;
  text-align:center;
  height:15px;
}

/* Sidebar */
.sidebar{
  background-color:var(--gray);
  position:fixed;
  overflow:auto;
  width:10%;
  left:1%;
}
.sidebar .logo{
  position:relative;
  width:100%;
}
.sidebar a{
  font-weight:bold;
  margin-top:15px;
  display:block;
}
.sidebar .smallLogo{
  width:60%;
}

.sidebar .row{
  display: flex;
}
.sidebar .column{
  text-align: center;
  padding: 5px;
  flex: 50%;
}
.sidebar .wordWrap{
  word-wrap:break-word;
  margin-left:5px;
}





/* Content */
.content{
  position:relative;
  width:75%;
  left:15%;

}
.title{
  transform: translateX(-3%);
  color:var(--green);
  text-align:center;
  font-weight:bold;
  font-size:15vw;
  margin:5px 0;
}
hr{
  border:solid 1px var(--gray);
  margin:100px 0;
}

h1{
  color:var(--green);
  font-weight:bold;
  font-size: 250%;
}
h1 span{
  color:var(--text-gray);
  font-size:60%;
}

.generateButton {
  background-color:var(--green);
  transform:translateX(50%);
  text-decoration:none;
  border-radius:25px;
  text-align:center;
  font-weight:bold;
  font-size:30px;
  cursor:pointer;
  margin:4px 2px;
  border:white;
  color:white;
  padding:15px;
  width:50%;
}
.generateButton:hover{
  background-color:var(--dark-green);
}
.words-wrapper{
  grid-template-columns:50% 50%;
  color:var(--green);
  text-align:center;
  font-weight:bold;
  display:grid;
}
a{
  text-decoration:none;
  color:var(--dark-green);
}
a:hover{
  text-decoration:underline;
  cursor:pointer;
}

p{
  font-size:125%
}

.contentImage textarea{
  text-align:left;
  width:100%;
}
.CodeMirror{
  font-size:18px;
  height:auto;
}

.wordWrap{
  word-wrap: break-word;
}

/* Docs */
.entity{
  margin-bottom:5px;
  font-weight:bold;
  margin-top:75px;
}
.keyword{
  color:var(--green);
}
.entity-details{
  margin-left:25px;
}
.entity-details .entity{
  margin-top:50px;
}

/* Footer */
.footer{
  background-color:var(--black);
  color:var(--white);
  text-align:center;
  margin-top:100px;
  font-weight:bold;
  font-size:20px;
  padding:5px 0;
}
.footer a{
  color:var(--green);
}
